# Ignore macOS system files
.DS_Store

# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode config
.vscode/

# Ignore logs and temp files
*.log
*.tmp

